.main{
  padding-top: 120px;
  padding-left: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  min-height: 722px;
  min-width: 950px;
  .top{
    margin-top: -80px;
    display: flex;
    justify-content: space-around;
    .cards{
      width: fit-content;
      margin-top: 25px;
    }
    .chart{
      width: 500px;
    }
  }

  .bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .graph{
      width: 850px;
      margin-top: -200px;
      .view_container{
        .view_title{
          margin-bottom: 55px;
        }
      }
    }
    .stock{
      display: flex;
      flex-direction: column;
      gap:50px;
      margin-top: -100px;
      margin-left: -50px;
    }
  }
}